USE [QuanLyDienThoai]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 2024-01-10 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPHIEU] [varchar](50) NOT NULL,
	[MADIENTHOAI] [varchar](50) NOT NULL,
	[SOLUONGNHAP] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC,
	[MADIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 2024-01-10 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[MAPHIEU] [varchar](50) NOT NULL,
	[MADIENTHOAI] [varchar](50) NOT NULL,
	[SOLUONGXUAT] [float] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC,
	[MADIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIENTHOAI]    Script Date: 2024-01-10 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIENTHOAI](
	[MADIENTHOAI] [varchar](50) NOT NULL,
	[TENDIENTHOAI] [nvarchar](100) NOT NULL,
	[CONGNGHEMANHINH] [varchar](50) NOT NULL,
	[KICHTHUOCMANHINH] [varchar](50) NOT NULL,
	[DOPHANGIAI] [varchar](50) NOT NULL,
	[HEDIEUHANH] [varchar](50) NOT NULL,
	[CAMTRUOC] [varchar](50) NOT NULL,
	[CAMSAU] [varchar](50) NOT NULL,
	[CHIP] [varchar](50) NOT NULL,
	[RAM] [varchar](50) NOT NULL,
	[DUNGLUONGLUUTRU] [varchar](50) NOT NULL,
	[SIM] [smallint] NOT NULL,
	[DUNGLUONGPIN] [varchar](50) NOT NULL,
	[SAC] [varchar](50) NOT NULL,
	[XUATXU] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [float] NOT NULL,
 CONSTRAINT [PK_DIENTHOAI] PRIMARY KEY CLUSTERED 
(
	[MADIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 2024-01-10 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [varchar](50) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](50) NOT NULL,
	[SODIENTHOAI] [varchar](50) NOT NULL,
	[DIACHI] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 2024-01-10 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEU] [varchar](50) NOT NULL,
	[THOIGIANTAO] [datetime] NOT NULL,
	[NGUOITAO] [varchar](50) NOT NULL,
	[MANHACUNGCAP] [varchar](50) NOT NULL,
	[TONGTIEN] [float] NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 2024-01-10 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPHIEU] [varchar](50) NOT NULL,
	[THOIGIANTAO] [datetime] NOT NULL,
	[NGUOITAO] [varchar](50) NOT NULL,
	[TONGTIEN] [float] NOT NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 2024-01-10 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](60) NOT NULL,
	[HOVATEN] [nvarchar](50) NOT NULL,
	[VAITRO] [nvarchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPHIEU], [MADIENTHOAI], [SOLUONGNHAP], [DONGIA]) VALUES (N'PN01', N'AP01', 50, 21890000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPHIEU], [MADIENTHOAI], [SOLUONGNHAP], [DONGIA]) VALUES (N'PN01', N'AP02', 60, 24950000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPHIEU], [MADIENTHOAI], [SOLUONGNHAP], [DONGIA]) VALUES (N'PN02', N'SS01', 40, 3090000)
GO
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPHIEU], [MADIENTHOAI], [SOLUONGXUAT], [DONGIA]) VALUES (N'PX01', N'AP01', 2, 21890000)
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPHIEU], [MADIENTHOAI], [SOLUONGXUAT], [DONGIA]) VALUES (N'PX01', N'AP02', 3, 24950000)
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPHIEU], [MADIENTHOAI], [SOLUONGXUAT], [DONGIA]) VALUES (N'PX02', N'SS01', 4, 3090000)
GO
INSERT [dbo].[DIENTHOAI] ([MADIENTHOAI], [TENDIENTHOAI], [CONGNGHEMANHINH], [KICHTHUOCMANHINH], [DOPHANGIAI], [HEDIEUHANH], [CAMTRUOC], [CAMSAU], [CHIP], [RAM], [DUNGLUONGLUUTRU], [SIM], [DUNGLUONGPIN], [SAC], [XUATXU], [SOLUONG], [GIA]) VALUES (N'AP01', N'iPhone 15', N'OLED', N'6.1 inches', N'Super Retina XDR', N'iOS 17', N'12 MP', N'48 MP - 12 MP', N'Apple A16 Bionic', N'6 GB', N'128 GB', 1, N'3349 mAh', N'20 W', N'Mỹ', 48, 21890000)
INSERT [dbo].[DIENTHOAI] ([MADIENTHOAI], [TENDIENTHOAI], [CONGNGHEMANHINH], [KICHTHUOCMANHINH], [DOPHANGIAI], [HEDIEUHANH], [CAMTRUOC], [CAMSAU], [CHIP], [RAM], [DUNGLUONGLUUTRU], [SIM], [DUNGLUONGPIN], [SAC], [XUATXU], [SOLUONG], [GIA]) VALUES (N'AP02', N'iPhone 15 Plus', N'OLED', N'6.7 inches', N'Super Retina XDR', N'iOS 17', N'12 MP', N'48 MP - 12 MP', N'Apple A16 Bionic', N'6 GB', N'128 GB', 1, N'4383 mAh', N'20 W', N'Mỹ', 57, 24950000)
INSERT [dbo].[DIENTHOAI] ([MADIENTHOAI], [TENDIENTHOAI], [CONGNGHEMANHINH], [KICHTHUOCMANHINH], [DOPHANGIAI], [HEDIEUHANH], [CAMTRUOC], [CAMSAU], [CHIP], [RAM], [DUNGLUONGLUUTRU], [SIM], [DUNGLUONGPIN], [SAC], [XUATXU], [SOLUONG], [GIA]) VALUES (N'HN01', N'Honor X9A 5G', N'AMOLED', N'6.67 inches', N'FHD+', N'Android 12', N'16 MP', N'64 MP - 5 MP - 2 MP', N'Qualcomm Snapdragon 695', N'8 GB', N'256 GB', 2, N'5100 mAh', N'40 W', N'Trung Quốc', 16, 6490000)
GO
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [SODIENTHOAI], [DIACHI]) VALUES (N'CPS', N'CellphoneS', N'02871089666', N'350-352 Võ Văn Kiệt, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh')
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [SODIENTHOAI], [DIACHI]) VALUES (N'DDV', N'Di Động Việt', N'18006018', N'75/35 Nguyễn Cửu Vân, Phường 17, Quận Bình Thạnh, Thành phố Hồ Chí Minh')
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [SODIENTHOAI], [DIACHI]) VALUES (N'FPT', N'FPT Shop', N'02873023456', N'261 - 263 Khánh Hội, Phường 2, Quận 4, Thành phố Hồ Chí Minh')
GO
INSERT [dbo].[PHIEUNHAP] ([MAPHIEU], [THOIGIANTAO], [NGUOITAO], [MANHACUNGCAP], [TONGTIEN]) VALUES (N'PN01', CAST(N'2023-12-27T09:01:02.000' AS DateTime), N'admin', N'SD', 2591500000)
INSERT [dbo].[PHIEUNHAP] ([MAPHIEU], [THOIGIANTAO], [NGUOITAO], [MANHACUNGCAP], [TONGTIEN]) VALUES (N'PN02', CAST(N'2023-12-27T10:05:04.000' AS DateTime), N'admin', N'TGDD', 601200000)
INSERT [dbo].[PHIEUNHAP] ([MAPHIEU], [THOIGIANTAO], [NGUOITAO], [MANHACUNGCAP], [TONGTIEN]) VALUES (N'PN03', CAST(N'2023-12-27T11:12:25.000' AS DateTime), N'admin', N'FPT', 4362270000)
GO
INSERT [dbo].[PHIEUXUAT] ([MAPHIEU], [THOIGIANTAO], [NGUOITAO], [TONGTIEN]) VALUES (N'PX01', CAST(N'2023-12-29T08:44:02.000' AS DateTime), N'admin', 118630000)
INSERT [dbo].[PHIEUXUAT] ([MAPHIEU], [THOIGIANTAO], [NGUOITAO], [TONGTIEN]) VALUES (N'PX02', CAST(N'2023-12-29T09:02:07.000' AS DateTime), N'admin', 86810000)
INSERT [dbo].[PHIEUXUAT] ([MAPHIEU], [THOIGIANTAO], [NGUOITAO], [TONGTIEN]) VALUES (N'PX03', CAST(N'2023-12-29T10:05:29.000' AS DateTime), N'admin', 371870000)
GO
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU], [HOVATEN], [VAITRO], [EMAIL]) VALUES (N'admin', N'admin', N'admin', N'admin', N'admin@gmail.com')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU], [HOVATEN], [VAITRO], [EMAIL]) VALUES (N'baophuc', N'59ua01484', N'Chung Bảo Phúc', N'Nhân viên', N'baobao090331@gmail.com')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU], [HOVATEN], [VAITRO], [EMAIL]) VALUES (N'bobo', N'012345', N'Hoàng Gia Bảo', N'Nhân viên', N'hgiabao2k3@gmail.com')
GO
ALTER TABLE [dbo].[DIENTHOAI] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[DIENTHOAI] ADD  DEFAULT ((0)) FOR [GIA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DIENTHOAI_CHITIETPHIEUNHAP] FOREIGN KEY([MADIENTHOAI])
REFERENCES [dbo].[DIENTHOAI] ([MADIENTHOAI])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_DIENTHOAI_CHITIETPHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_CHITIETPHIEUNHAP] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_CHITIETPHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_DIENTHOAI_CHITIETPHIEUXUAT] FOREIGN KEY([MADIENTHOAI])
REFERENCES [dbo].[DIENTHOAI] ([MADIENTHOAI])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_DIENTHOAI_CHITIETPHIEUXUAT]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_CHITIETPHIEUXUAT] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUXUAT] ([MAPHIEU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_CHITIETPHIEUXUAT]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_NHACUNGCAP_PHIEUNHAP] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_NHACUNGCAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_PHIEUNHAP] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[TAIKHOAN] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_TAIKHOAN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_PHIEUXUAT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[TAIKHOAN] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_TAIKHOAN_PHIEUXUAT]
GO
